<form action="/destinos" method="post">
    <input type="text" name="destino" placeholder="cualquier lugar del mundo">
    <input type="text" name="precio" placeholder="poner precio">
    <input type="text" name="descuento" placeholder="poner descuento">
    <input type="text" name="ruta_imagen" placeholder="poner url de imagen">
    <input type="text" name="fecha_inicio" placeholder="Fecha YYYY-MM-DD">
    <input type="text" name="fecha_fin" placeholder="Fecha YYYY-MM-DD">
    <input type="submit" value="Enviar destino">
</form>